{% extends 'base.html' %}


{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
          <div class="container px-4 px-lg-5 my-5">
              <div class="text-center text-white">
                  <h1 class="display-4 fw-bolder">About us...</h1>
                  <p class="lead fw-normal text-white-50 mb-0">webcome to dj Ecommerce</p>
              </div>
          </div>
      </header>

      <div class="container">
        <div class="row">
          <center>
            <div class="col-8">
              <p align="justify">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ipsum libero, tincidunt quis purus vel, interdum interdum magna. Sed vehicula consequat arcu, vitae finibus mi consectetur ac. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur nec consequat dolor, vel interdum tortor. Aenean id magna fermentum, cursus neque in, semper purus. Nunc et tempor arcu. Curabitur placerat dolor diam, in semper turpis volutpat ac. Proin sed venenatis ligula. Phasellus ac porta ante. Fusce ac volutpat mi. Vivamus vulputate sapien odio, ac mattis leo ornare at. Quisque eget rhoncus dui, at lacinia metus. Nullam condimentum auctor elit vel vulputate. Sed vestibulum semper malesuada.
                <br><br>

Ut vitae risus iaculis, feugiat quam aliquam, interdum justo. In et urna ac nisl blandit maximus. Integer vel tincidunt lorem. Etiam sed metus sed tellus tempus viverra. Integer sit amet arcu in nunc porta placerat vel sed velit. Morbi pulvinar sodales consequat. Fusce rhoncus neque ac tortor eleifend, sit amet egestas purus tincidunt.
<br><br>
Fusce interdum euismod lorem ac blandit. Vestibulum iaculis porttitor elit sit amet laoreet. Cras at dapibus velit. Curabitur nec imperdiet massa. Aenean justo quam, pretium ut erat in, vehicula posuere elit. Donec ac dapibus dolor. Vestibulum pulvinar est lacus, eu bibendum massa aliquet sit amet.

              </p>
            </div>
          </center>
        </div>
      </div>

{% endblock content %}